@charset "UFT-8";
@import url('https://fonts.googleapis.com/css2? family= Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600; 0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900 & display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sem serifa
}

body {
  overflow-x: hidden
}

header a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.produtos-a-venda a {
  color: black;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: yellow;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #23232e;
  height: 8vh;
}


.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }

  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    z-index: 3;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

.box {
  width: 1050px;
  height: 5500px;
  background-color: whitesmoke;
  position: relative;
  opacity: 0.3;
  margin-left: 15%;
  margin-right: 15%;
  z-index: 0;
  display: flex;
}

.painel {
  background-color: blue;
  background-size: cover;
  height: 500px;
  position: relative;
  z-index: 2;
}





/*------------------ Carrosel-Inicio ------------------*/

main {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: start;
}

.slider {
  margin: 0 auto;
  width: 100vw;
  height: 430px;
  display: flex;
  overflow: hidden;
  position: relative;

}


.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  animation: fade 20s linear infinite;

}

#img1 {
  background-image: url('imagens/slide1.png');
  background-size: cover;
  animation-delay: 5s;
  display: flex;
}

#img2 {
  background-image: url('imagens/slide2.png');
  background-size: cover;
  animation-delay: 10s;
}

#img3 {
  background-image: url('imagens/slide3.png');
  background-size: cover;
  animation-delay: 15s;
}

#img4 {
  background-image: url('imagens/slide4.jpg');
  background-size: cover;
  animation-delay: 20s;

}

@keyframes fade {

  0%,
  100% {
    opacity: 0;
    z-index: 1;
  }

  16%,
  86% {
    opacity: 1;
    z-index: 2;
  }

}

@media(max-width: 600px) {

  .slider {
    margin: 0 auto;
    width: 100vw;
    height: 500px;
    display: flex;
    overflow: hidden;
    position: relative;

  }


  .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    animation: fade 20s linear infinite;

  }

  #img1 {
    background-image: url('imagens/1alt.jpg');
    background-size: cover;
    animation-delay: 5s;
    display: flex;
  }

  #img2 {
    background-image: url('imagens/2alt.jpg');
    background-size: cover;
    animation-delay: 10s;
  }

  #img3 {
    background-image: url('imagens/3alt.jpg');
    background-size: cover;
    animation-delay: 15s;
  }

  #img4 {
    background-image: url('imagens/4alt.jpg');
    background-size: cover;
    animation-delay: 20s;
  }
}

/*------------------ Carrosel-Fim ------------------*/


/*------------------ Produtos ------------------*/

.compras {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
}

.frase {
  padding-top: 25px;
  padding-bottom: 15px;
}

.bloco-produtos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.produtos-a-venda {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.produto {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 200px;
  height: 280px;
  cursor: pointer;
}


/*------ configuração produtos -----*/

.imagem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.imagem-do-produto {
  width: 140px;
}

.descricao-produto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.titulo {
  font-size: 16px;
  font-family: 'Montserrat', sem serifa;
  text-align: center;
}

.preco {
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.valor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  color: #fff;
  height: 25px;
  border-radius: 6px;
  background-color: #23232e;
  font-size: 20px;
  font-family: 'Montserrat', sem serifa;
  text-align: center;
}

.subtitulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-family: 'Montserrat', sem serifa;
  text-align: center;
  width: 180px;
  height: 25px;
  color: aliceblue;
  background-color: rgb(228, 84, 104);
}

.subtitulo:hover {
  background-color: rgb(175, 66, 80)
}

.carrinho {
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #23232e;
  height: 12vh;
}