@charset "UTF-8";

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    .bloco-produtos{
        flex-direction: column;
        gap: 30px;
      }
      
      .produtos-a-venda{
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 30px;
      }  
}

@media (min-width: 1024px){
    .bloco-produtos{
        flex-direction: row;
        gap: 30px;
      }
      
      .produtos-a-venda{
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 30px;
      }  
}